CompileFlags:
  Add:
    - "-I${workspaceFolder}/src/engine"
    - "-I${workspaceFolder}/src/game"
    - "-I/usr/include/SDL2"
    - "-Wall"
    - "-g"

FallbackFlags:
  Add:
    - "-I${workspaceFolder}/src/engine"
    - "-I${workspaceFolder}/src/game"
    - "-I/usr/include/SDL2"
